body{
    background-color: cadetblue;
    font-family: cursive;
    margin: auto;
    text-align: center;

}

.complete{
    text-decoration: line-through;
    background-color: deeppink;
}

header{
    text-align: center;
}
.incomplete{
    background-color: cadetblue;
}

